:root {
  --black: hsl(0, 0%, 0%);
  --white: hsl(0, 0%, 100%);
  --primary: hsl(7, 79%, 59%);
  --secondary: hsl(0, 0%, 67%);
}

.button-primary {
  position: relative;
  background: transparent;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.3s ease;
  border-radius: 0;
  border-color: var(--primary);
}

.button-primary span {
  z-index: 1;
  position: relative;
  color: var(--white);
  transition: all 0.3s ease;
}

.button-primary::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--primary);
  transform: translateY(0);
  transition: all 0.3s ease;
}

.button-primary:hover::before {
  transform: translateY(100%);
}

.button-secondary {
  position: relative;
  background: transparent;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.3s ease;
  border-radius: 0;
  border-color: var(--primary);
}

.button-secondary:hover {
  border-color: var(--white);
}

.button-secondary span {
  z-index: 1;
  position: relative;
  color: var(--white);
  transition: all 0.3s ease;
}

.button-secondary:hover span {
  color: var(--primary);
}

.button-secondary::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--white);
  transform: translateY(100%);
  transition: all 0.3s ease;
}

.button-secondary:hover::before {
  transform: translateY(0);
}

* {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* HEADER */

#header {
  background-color: var(--black);
  color: var(--white);
  height: 100svh;
  position: relative;
  overflow: hidden;
  text-shadow: black 0px 0px 20px;
}

#header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translate(-50%, -50%);
  object-fit: cover;
  filter: brightness(0.5);
  z-index: 0;
}

#header .container {
  z-index: 1;
}

#header h1 {
  font-size: min(20svh, 11svw);
}

#header h2 {
  font-size: min(8svh, 4svw);
}

#header h1 span {
  color: var(--primary);
}

#header button span {
  font-size: 24px;
  letter-spacing: 2px;
}

#header .button-primary:hover span {
  text-shadow: black 0px 0px 20px;
}
#header .button-primary span {
  text-shadow: none;
}

#header .button-secondary span {
  text-shadow: black 0px 0px 20px;
}
#header .button-secondary:hover span {
  text-shadow: none;
}

/* WORK */

#work {
  background-color: var(--black);
}

#work h1 {
  color: var(--white);
  font-size: 35px;
  text-align: right;
}

#work .marquee {
  display: flex;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  align-self: center;
}

#work .marquee-item {
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-name: marquee-content;
  animation-timing-function: linear;
  font-size: 50px;
  color: var(--white);
}

#work .marquee-item span {
  margin-right: 20px;
}

#work .marquee:hover .marquee-item {
  animation-play-state: paused;
}

#work .sport {
  color: var(--secondary);
}

#work .song {
  color: var(--white);
}

#work .entertainment {
  color: var(--primary);
}

#work button {
  float: right;
  font-size: 25px;
  letter-spacing: 2px;
}

#work img {
  width: 100%;
}

@keyframes marquee-content {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}
